<div class="container">



    <!-- HEADER AND TODO COUNT -->
    <div class="jumbotron text-center">
        <h1><span class="label label-info">{{ todos.length }}</span></h1>
    </div>




    <!-- TODO LIST -->
    <div id="todo-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">

            <!-- LOOP OVER THE TODOS IN $scope.todos -->
            <div class="checkbox" ng-repeat="todo in todos | orderBy:'text'">
                <label>
                    <input type="checkbox" >
                    {{ todo.text }}
                    {{ todo.title }}
                </label>
                <div class="btn btn-danger" ng-click="deleteTodo(todo._id)">x</div>
                <div class="btn btn-success" ng-click="updateTodo(todo._id)">save</div>

            </div>

        </div>
    </div>

    <!-- FORM TO CREATE TODOS -->
    <div id="todo-form" class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <form>
                <div class="form-group">

                    <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                    <input type="text" class="form-control input-lg text-center" placeholder="tune name" ng-model="formData.text">
                    <input type="text" class="form-control input-lg text-center" placeholder="title" ng-model="formData.title">
                </div>

                <!-- createToDo() WILL CREATE NEW TODOS -->
                <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>

            </form>
        </div>
    </div>

</div>
