<div class="container" style='padding-top:80px'>
    <div class="col-md-12">
      <h3>Login</h3>

      <form ng-submit="loginUser()" class="form" name="formData">
        <div class="col-md-4">
          <md-input-container class="md-block">
            <input type="text" class="form-control" ng-model="formData.username" placeholder="username" required=""/>
          </md-input-container>

          <md-input-container class="md-block">
            <input type="password" class="form-control" ng-model="formData.password" placeholder="password" required=""/>
          </md-input-container>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
            <span class="text-danger">{{ error }}</span>
          </div>

        </div>
      </form>
    </div>
</div>
