

<md-content class="md-padding" layout="row"  layout-align="center center" style="padding-top: 60px;">
  <div  layout="row" layout-align="center center" style="padding-left:10px;" class="label label-primary" >{{count}}  tunes available!</div>

  <div flex="80" >
    <md-autocomplete style="padding-left:30px;padding-right:10px;"
    md-escape-options ="none"
    md-floating-label="Search your tune here..."
    md-no-cache="true"
    md-autoselect="true"
    md-selected-item="selectedItem"
    md-search-text="searchText"
    md-selected-item-change="selectedItemChange(item)"
    md-items="item in querySearch(searchText)"
    md-item-text="item.tuneTitle"
    md-require-match ="true"
    md-min-length="0"
    md-menu-class="autocomplete-custom-template"
    <md-item-template>
      <span class="item-title">
        <md-icon md-svg-icon={{item.avatarSvg}} style="color:red"></md-icon>
        <span><strong>{{item.tuneTitle}} </strong> </span>
      </span>
      <span class="item-metadata">
        <span class="item-metastat">
          by <strong>{{item.grilleAuthorName}}</strong>
        </span>
      </span>
    </md-item-template>
    <md-not-found>
      No tunes matching "{{searchText}}" were found.
      <a  ng-click="createPrompt1($event,searchText)">Create a new one!</a>
    </md-not-found>
  </md-autocomplete>
</div>
<div flex="20" layout="row" layout-align="center center">
  <md-button class="md-fab  md-raised md-inform" ng-disabled ="isPrintButtonDisabled()" ng-click="voteThisTune(selectedTune,1)"><md-tooltip>Vote up this tune</md-tooltip><md-icon  class="md-icon" md-svg-src="images/svg/thumbs-up.svg"/></md-button>
  <div  class="label label-primary">score: {{formData.votes}}  </div>
  <md-button class="md-fab   md-raised md-inform" ng-disabled ="isPrintButtonDisabled()" ng-click="voteThisTune(selectedTune,-1)"><md-tooltip>Vote down this tune</md-tooltip><md-icon  class="md-icon" md-svg-src="images/svg/thumb-down.svg"/></md-button>
</div>
</md-content>


<!-- The grid-->
<form name="formData"   >

  <div layout="row" layout-align="start center" >

    <!-- new tune, print, save... buttons  -->
    <md-button class="md-fab md-raised md-inform"  ng-disabled ="userSignedIn==undefined || userSignedIn==null" ng-click="createPrompt1($event)"><md-tooltip>Create a new tune</md-tooltip><md-icon  class="md-icon" md-svg-src="images/svg/new_tune.svg"/></md-button>
    <!--<md-button class="md-fab md-raised md-inform"  ng-disabled ="userSignedIn===undefined || userSignedIn===null " ng-click="resetGrid()"><md-tooltip>Reset the grid</md-tooltip><md-icon  class="md-icon" md-svg-src="images/svg/remove-button.svg"/></md-button>-->
    <md-button type="submit" class=" md-fab md-raised md-inform" ng-disabled="isSaveButtonDisabled(event)" ng-click="addOrUpdateTune()"><md-tooltip>Save tune</md-tooltip><md-icon  class="md-icon" md-svg-src="images/svg/check-mark.svg"/></md-button>
    <md-button class="md-fab md-raised md-inform" ng-disabled="isDeleteButtonDisabled()" ng-click="showDeleteConfirm($event,'Do you want to delete this tune?')"><md-tooltip>Delete tune</md-tooltip><md-icon  class="md-icon" md-svg-src="images/svg/rubbish-bin.svg"/></md-button>
    <md-button class="md-fab md-raised md-inform" ng-disabled ="isPrintButtonDisabled()" ng-click="printIt()"><md-tooltip>Print the grid</md-tooltip><md-icon  class="md-icon" md-svg-src="images/svg/printer-.svg"/></md-button>
    <md-button class="md-fab md-raised md-inform" ng-click="showBuildGridDialog($event)" ng-disabled="isBuildGridButtonDisabled()"><md-tooltip>Build the grid</md-tooltip><md-icon md-menu-origin md-svg-icon="images/svg/grid.svg"></md-icon></md-button>
  </div>

</form>

<div layout="row">
  <div id="printableGrid" flex="80">
    <fieldset>
      <legend class='tuneTitle' id='tuneTitleId' ng-show='formData.tuneTitle'><center>{{formData.tuneTitle}}</center></legend>
      <h5 style ="float:right; font-size: 15px; font-family:'Comic Sans MS';">{{formData.tuneAuthorName}}</h5>

      <table>
        <CAPTION ng-show ='formData.grille_intro'>Intro</CAPTION>
        <tr ng-repeat="row in formData.grille_intro">
          <td  ng-repeat="col in row"  ng-click="selectCell(col)" ng-keypress="cellKeyPressed($event)" ng-class="{'box box-selected noselect' : col===cellSelected, 'box noselect':col!==cellSelected }" class="box" >
            {{col.cellValue}}
          </td>
        </tr>
      </table>


      <table>
        <CAPTION ng-show ='formData.grille'>Chorus</CAPTION>
        <tr ng-repeat="row in formData.grille">
          <td  ng-repeat="col in row"  ng-click="selectCell(col)" ng-keypress="cellKeyPressed($event)" ng-class="{'box box-selected noselect' : col===cellSelected, 'box noselect':col!==cellSelected }" class="box" >
            {{col.cellValue}}
          </td>
        </tr>
      </table>

      <table>
        <CAPTION ng-show ='formData.grille_outro'>Outro</CAPTION>
        <tr ng-repeat="row in formData.grille_outro">
          <td  ng-repeat="col in row"  ng-click="selectCell(col)" ng-keypress="cellKeyPressed($event)" ng-class="{'box box-selected noselect' : col===cellSelected, 'box noselect':col!==cellSelected }" class="box" >
            {{col.cellValue}}
          </td>
        </tr>
      </table>
      <h5 style ="float:right; font-size: 15px; font-family:'Comic Sans MS';" ng-show='formData.grilleAuthorName'>Grid written by {{formData.grilleAuthorName}}</h5>
    </fieldset>

  </div> <!-- div flex-->
  <div flex=20>
    <fieldset>
      <legend class="label label-primary"  >Chords palette</legend>
      <md-button ng-repeat="chord in chords" class="md-fab md-mini md-primary"  ng-click="select(chord.chordId)">{{chord.chordName}}
        <md-tooltip>
          key code: {{chord.chordName}}
        </md-tooltip>
      </md-button>
    </fieldset>
    <fieldset>
      <legend class="label label-primary">Symbols palette</legend>
      <md-button ng-repeat="symb in symbols" class="md-fab md-mini md-primary tolowercase italic" ng-click="selectSymb(symb.symbId)">{{symb.symbName}}
        <md-tooltip>
          key code: {{symb.symbKey}}
        </md-tooltip>
      </md-button>
    </fieldset>
  </div>
</div>
