<div class="container" style='padding-top:80px'>
  <div class="col-md-12">
    <h3>Sign Up</h3>



    <form ng-submit="registerUser()" class="form">
      <div class="col-md-4">
        <md-input-container class="md-block">
          <input type="text" class="form-control" ng-model="username" placeholder="username" required/>
          <div ng-messages="userName.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <input type="password" class="form-control" ng-model="password" placeholder="password" required/>
          <div ng-messages="password.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <input type="password" class="form-control" ng-model="password2"   placeholder='retype password' required/>
          <div ng-messages="confirm_password.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>



        <!--
        <fieldset layout="row" style="border:none">
        <legend>Choose your avatar</legend>
        <md-button ng-repeat ="avatar in avatars" class="md-fab md-raised md-inform" aria-label="Use Android">
        <md-icon md-svg-src="{{avatar.svgImage}}"></md-icon>
      </md-button>
    </fieldset>
  -->
  <h4 style="padding-bottom:10px">Choose your avatar</h4>

  <fieldset>
      <md-radio-group ng-model="selectedAvatar" layout="row" >
        <md-radio-button ng-repeat="avatar in avatars"
        ng-value="avatar.avatarId"
        aria-label="{{avatar.avatarId}}">
        <md-icon md-svg-icon="{{avatar.svgImage}}"></md-icon>
      </md-radio-button>
    </md-radio-group>
  </fieldset>
  <div class="form-group">
    <md-button type="submit" class="btn btn-primary">Register</md-button>

    <span class="text-danger">{{ error }}</span>
  </div>

</div>
</form>
</div>
</div>
